@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.App {
  text-align: center; 
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1, h2 {
font-family: 'Dancing Script', cursive; 
} 

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}
