@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.App {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1, h2 {
font-family: 'Dancing Script', cursive; 
} 

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

i {
  font-size: 3rem;
  color: #84C4BF;
  /* color: #FFFFFF; */
}

a {
  color: #000000;
}

.ShoppingCart {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  width: 30%;
  height: 100%;
}