/*Import set up snippet*/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Colour Palette*/
/*Primary Color: #84C4BF*/
/*Secondary Color:  #D3E9E7*/
/*Body Color: #000000*/
/*Accent Colour: #FFFFFF*/

/*Primary font: Dancing Script*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); 
/*Secondary font: Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*App Component Styles*/
.App {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1, h2 {
  font-family: 'Dancing Script', cursive; 
} 

h1 {
  font-size: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

h2 {
  font-size: 5rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

p {
  color: white;
}

a, .Footer p {
  color: #000000;
}

i {
  font-size: 3rem;
  color: #84C4BF;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/*Button Styles*/
button {
  border: none;
  background-color: transparent;
  padding: 30px;
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
}

.trash {
  font-size: 1.5rem;
}

.closeCart {
  margin: 20px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.checkOut {
  text-align: center;
}

.checkOutButton {
  text-transform: uppercase;
  border: none;
  padding: 1.5rem;
  margin: 0 auto;
  outline: none;
  letter-spacing: 0.4rem;
  border-radius: 3px;
  font-size: 1.4rem;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  background-color: #D3E9E7;
  height: 4.5rem;
  width: 35%;
}

.checkOutButton:hover, .checkOutButton:focus {
  background-color: #84C4BF;
  color: #FFFFFF;
}

/*Header Component Styles*/
.Header {
  background-image: url(../header.jpg);
  background-size: cover;
  height: 100vh;
  background-position: 50% 15%;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1% 5%; */
} 

.logo {
  display: block;
  width: 8%;
}

/*Inventory Component Styles*/
.Inventory {
  background-color: #D3E9E7;
  padding: 2%; 
}

.inventory-container {
  display: flex;
  flex-basis: 33.33333%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.item {
  padding: 2%;
  width: 28%;
}

.Inventory .img-container {
  position: relative;
}

.Inventory .img-container:hover .overlay {
  opacity: 1;
}

.item img {
  display: block;
}

.Inventory h3, .Inventory h4 {
  padding: 1%;
  margin: 0;
}

.overlay {
  position: absolute;
  opacity: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  background: rgba(132,196,191,0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overlay:hover {
  background-color: rgba(132,196,191,0.9);
}

/*Shopping Cart Component Styles*/
.ShoppingCart {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  width: 30%;
  height: 100%;
  z-index: 2;
}

.ShoppingCart .item-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.ShoppingCart .img-container {
  width: 30%;
}

.ShoppingCart .text-container {
  width: 60%;
  padding: 15px;
  position: relative;
}

.ShoppingCart .text-container h3,
.ShoppingCart .text-container h4 {
  text-align: left;
  margin: 3%;
}

.ShoppingCart button {
  padding: 0;
}

.total {
  position: fixed;
  bottom: 0;
  width: 30%;
  height: 20vh;
  z-index: 3;
}

.total h4 {
  text-align: right;
  padding: 4%;
}

.ShoppingCart .items {
  margin-bottom: 5%;
  height: 60vh;
  overflow-y: scroll;
}

/*Footer Component Styles*/
.Footer {
  background-color: #84C4BF;
  padding: 10px;
  text-align: center;
}

.Footer a {
  text-decoration: none;
}

.Footer a:hover {
  color: #D3E9E7;
}