@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); 

.Header {
    background-image: url(../header.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 50% 15%;
    padding: 10px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5%;
} 

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;


}

.nav {
    padding: 0;
    list-style: none;
}

li {
    display: inline;
    margin-right: 30px;
}

li a {
    text-decoration: none;
}

.Header img {
    width: 100px;
    height: 100px; 
    display: block;
}

.cart {
    /* float: right;
    position: relative;
    top: 40px;
    right: 40px; */
}