.ShoppingCart {
    z-index: 2;
    overflow-y: scroll;
}

.ShoppingCart .closeCart {
    margin: 20px;
}

.ShoppingCart .item-container {
    margin-top: 5%;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.ShoppingCart .img-container {
    width: 30%;
}

.ShoppingCart .text-container {
    width: 60%;
    padding: 15px;
    position: relative;
}

.ShoppingCart .text-container h3,.ShoppingCart .text-container h4 {
    text-align: left;
}

.ShoppingCart .img-container img {
    width: 100%;
}

.trash {
    font-size: 1.5rem;
}

.ShoppingCart button {
    padding: 0;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
}

.total {
    position: relative;
    bottom: 20px;
    right: 100px;
}

.total h3 {
    text-align: right;
}

.ShoppingCart h4 {
    margin-top: 2%;
}

.ShoppingCart .items {
    margin-bottom: 5%;
}
