.ShoppingCart {
    z-index: 2;

}

.ShoppingCart .closeCart {
    margin: 20px;
}

.ShoppingCart .item-container {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.ShoppingCart .img-container {
    width: 30%;
}

.ShoppingCart .text-container {
    width: 60%;
    padding: 15px;
    position: relative;
}

.ShoppingCart .text-container h3,.ShoppingCart .text-container h4 {
    text-align: left;
}

.ShoppingCart .img-container img {
    width: 100%;
}

.trash {
    font-size: 1.5rem;
}

.ShoppingCart button {
    padding: 0;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
}

.total {
    position: fixed;
    bottom: 0;
    width: 35%;
    height: 20vh;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 3;
}


.ShoppingCart h4 {
    margin-top: 3%;
}

.total h4 {
    text-align: right;
    padding: 4%;
}

.ShoppingCart .items {
    margin-bottom: 5%;
    height: 60vh;
    overflow-y: scroll;
}

.checkOut {
    text-align: center;
}

.checkOutButton {
    text-transform: uppercase;
    border: none;
    padding: 1.5rem;
    margin: 0 auto;
    outline: none;
    letter-spacing: 0.4rem;
    border-radius: 3px;
    font-size: 1.4rem;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    background-color: #D3E9E7;
    height: 4.5rem;
    width: 35%;
}

.checkOutButton:hover, .checkOutButton:focus {
    background-color: #84C4BF;
    color: #FFFFFF;
}